fastapi
uvicorn
python-dotenv
python-multipart

requests
httpx

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-huggingface
langchain-text-splitters

langgraph

chromadb
langchain-chroma

sentence-transformers
transformers
torch

google-generativeai
google-genai

easyocr
opencv-python-headless
pymupdf
Pillow
numpy

scikit-learn
pandas

watchfiles