fastapi
uvicorn
python-dotenv
python-multipart

requests
httpx

langchain
langchain-core
langchain-community
langchain-google-genai
langchain-text-splitters

langgraph

chromadb
langchain-chroma

sentence-transformers
torch
torchvision
transformers
langchain-huggingface
huggingface_hub
hf-xet

google-generativeai
google-genai

easyocr
opencv-python-headless
pymupdf
Pillow
numpy

scikit-learn
pandas

watchfiles